img {
    width: 100%;
    display: block;
}

.ms_height_10 {
    height: 10px;
    width: 55px;
}

.dropdown-menu.ms_100vw {
    width: 100vw;
    border: 0;
    border-radius: 0;
    top: 64px;
    text-align: center;
}

.ms_liststyle {
    list-style-type: none;
    padding-right: 30px;
}

ul.d-flex.justify-content-center li::before {
    content: "\2022";
    color: #0070d1;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.ms_mt_main {
    margin-top: 92px;
}

.ms_jumbo {
    background-image: url('../img/jumbo-bg.png');
    background-position: top;
    background-size: cover;
}

.ms_height {
    height: 350px;
}

.ms_fs_10 {
    font-size: 10px;
}

.ms_fs_12 {
    font-size: 12px;
}

.ms_fs_14 {
    font-size: 14px;
}

.ms_fs_15 {
    font-size: 15px;
}

.ms_two {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: top;
    background-size: cover;
}

.ms_height_two {
    height: auto;
}

.ms_bg_darkgrey {
    background-color: #bebcbb;
}

.ms_bg_darkblue {
    background-color: #161c3b;
}

.ms_bg_blue {
    background-color: #00439c;
}

.ms_width_60 {
    width: 60%;
}

.language {
    width: 16px;
    height: 16px;
}

.ms_fillcontent {
    width: fit-content;
}

.ms_psfooter {
    max-width: 50px;
}

.ms_ulreset {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
}

.ms_sie {
    width: 33%;
}

@media screen and (min-width: 576px) {
    .ms_sm_height {
        height: 550px;
    }

    .ms_fs_sm_16 {
        font-size: 16px;
    }
}